* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* Palette colori  */

:root {
    --darkblue: #141922;
    --naturalgray: #A8A8A8;
    --dark-grey: #282828;
}

:root {
    --video-player: 25%;    
}

/* Layout */
#app {
    height: 100vh;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

body {
    font-size: 18px;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* .col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
} */

figure > img {
    display: block;
}

/* Utility-Class */

.justify-between {
    justify-content: space-between;    
}

.align-items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.size-13 {
    font-size: 13px;
}

.none {
    display: none;
}

/* Component-Class */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* Music Player */

.app-content {
    flex-grow: 1;
    overflow: hidden;
}

.sidebar {
    background-color: black;
    flex-grow: 1;
    width: 50px;    
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.page-content {
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
    
}

/* Sidebar */

.bg-grey-circle {
    background-color: var(--naturalgray);
    aspect-ratio: 1;
    border-radius: 999px;
    margin-top: 22px;
}

.top-icon div {
    margin-bottom: 20px;
}

.contrast-icon {
    filter: contrast(0);
}



/* Player */
/* Album Preview */

.toolbar {
    background-color:#282828;
    height: auto;
    flex-shrink: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.toolbar .name-song {
    color: #A8A8A8;
}

.name-song:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hover-white:hover {
    color: white;
    cursor: pointer;
}

.track {
    display: flex;
    width: 130px;
}

.album-information {
    display: flex;
    align-items: center;
    /* padding: 30px 15px; */
}

.toolbar img {
    max-width: 28px;       
}

.track-information {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 9px;
}

.track-information .author {
    font-size: 12px;
}

.feed-icon {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;   
    color: #A8A8A8; 
    font-size: 13px;
}

/* Control Video */
.control-video {    
    width: 40%;
}
.video-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    gap: 20px;
    font-size: 20px;
}

.play {
    font-size: 25px;
}

.play-bt:hover {
    transform: scale(1.2);
    cursor: pointer;     
}

/* Video Bar */

.video-bar {
    display: flex;
    align-items: center;
    gap: 20px;    
}

.counter {
    width: 25px;
    font-size: 12px;    
}

.video-line {    
    position: relative;
    flex-grow: 1;    
}

.video-line-white { 
    height: 3px;   
    width: var(--video-player);
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
}

.video-line:hover .video-line-white {
    background-color: lime;
    cursor: pointer;
}

.point {
    left: var(--video-player);
    top: 50%;
    padding: 5px;
    border-radius: 200px;
    background-color: white;
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
}

.video-line:hover .point{
    display: inline-block;
    cursor: pointer;
}

.video-line-grey { 
    height: 3px; 
    background-color: #A8A8A8;
    border-radius: 20px;
} 

/* Control Volume */

.control-volume {
    display: flex;
    align-items: center;
    width: 130px;
    gap: 10px;
}

.volume-line {    
    position: relative;
    flex-grow: 1;    
}

.volume-line-white { 
    height: 3px;   
    width: var(--video-player);
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
} 

.volume-line:hover .volume-line-white {
    background-color: lime;
    cursor: pointer;    
}

.volume-line:hover .point {
    display: inline-block; 
    cursor: pointer;   
}

.volume-line-grey { 
    height: 3px; 
    background-color: #A8A8A8;
    border-radius: 20px;
} 








/* Small Device */

@media (min-width: 480px) { 
    
}

/* Medium Device */

@media (min-width: 639px) { 
    .sidebar {
        width: 230px;
    }

    .single-line {
        display: flex;
        gap: 2px;
    }

    .toolbar img {
        max-width: 42px;
    }
    
}

/* Large Device */

@media (min-width: 878px) {
    .feed-icon {
        flex-direction: row;

    }
}


/* Debug */

.debug .app-content,
.debug .toolbar {
    border: 1px solid orange;
    padding: 10px;
    min-height: 100px;
}

.debug .sidebar,
.debug .page-content {
    border: 1px solid green;
    padding: 10px;
}

.debug .track,
.debug .control-video,
.debug .control-volume {
    border: 1px solid blue;
    padding: 10px;
}
